{% load staticfiles %}
<!--<div id="footer">-->
  <!--<div class="container">-->
    <!--&lt;!&ndash;<p class="muted credit">&copy; 2013+ Assemblage Entertainment Pvt. Ltd., Inc.<a href="http://intraweb.intra.madassemblage.com/KUC.php?&j=Pipeline%20Development">- Pipeline Dept.</a></p>&ndash;&gt;-->
      <!--<a href="http://intraweb.intra.madassemblage.com/KUC.php?&j=Pipeline%20Development">- Pipeline Dept.</a>-->
    <!--<p class="muted credit">&copy; Assemblage Entertainment Pvt. Ltd.</p>-->
  <!--</div>-->
<!--</div>-->


<!-- Footer -->
<footer class="footerCSS">
    <div class="container">
        <a href="http://intraweb.intra.madassemblage.com/KUC.php?&j=Pipeline%20Development" target="_blank">- Pipeline Dept.   </a>
        <span class="text-muted">    &copy; Assemblage  Entertainment  Pvt.  Ltd.</span>
    </div>
</footer>

